<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGScripts.LoginModule"/>
      <class name="TestNGScripts.Test1dataprovider"/>
      <class name="testNG_Scripts.SampleTest"/>
      <class name="TestNGScripts.HomepageModule"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
